.flexLinhaHome {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}



.stockHome {
   
    margin-top: -500px;
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 220, 220);
    /* height: 600px; */

    /* width: 90%; */
    
    
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10px );
-webkit-backdrop-filter: blur( 10px );
border: 1px solid rgba( 255, 255, 255, 0.18 ); 

}

.paragrafosHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.tituloStockHome {
    font-family: "Roboto Slab", serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    margin-top: 35px;
}

.pStockHome {
    font-size: 20px;
    margin: 10px;
}

.btnStockHome {
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    width: 400px;
    cursor: pointer;
    background-color: #ffc107;
    border: 1px solid black;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
}

.confiraStockHome{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.stockCompletoHome {
    background-color: #ffc107;
    margin-top: 70px;
    margin-bottom: 100px;
    padding: 55px;
    /* width: 100%; */
    text-align: center;
    cursor: pointer;
}

/* PrimeImports.css */
.prime-imports {
    text-align: center;
    padding: 30px 20px;
    font-family: Arial, sans-serif;
  }
  
  .prime-imports h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .prime-imports p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
  }
  
  .service {
    background-color: #f2f0f0;
    color: #000000;
    padding: 20px;
    margin: 10px;
    flex: 1;
    min-width: 150px;
    max-width: 250px;
    position: relative;
    border-radius: 15px;
    margin-bottom: 100px;
  }

  .service:hover{
    background-color: #ffc107;
    transition: calc(0.7s);
  }
  
  
  .service h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .service p {
    font-size: 14px;
  }
  
  .arrow {
    font-size: 40px;
    margin: 10px;
    color: #ccc;
  }
  