@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 8px 22px 0 rgba(85, 89, 148, 0.37);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.h1 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;                                                                                     
  font-style: normal;
  margin-left: 20px;
  color: #ffc107;
  text-decoration: none;
  
}

.h11 {
  text-decoration: none;
  font-size:15px;
  color: #ffc107;
  margin-bottom: 2px;
  
}

.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 600px;
  align-items: center;
  font-weight: bold;
  color: white;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

.pNav {
  cursor: pointer;
  text-decoration: none;
  color: #ffc107;
  font-weight: 500;
  font-size: 20px;
}

.login-cadastro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  margin-right: 40px;
}

.login-cadastro1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-right: 30px;
}

.isAdmin {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-right: 40px;
  margin-top: 20px;
}

.btnHeader {
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1px;
  width: 100px;
  font-weight: bold;
  cursor: pointer;
  background-color: #97142a;
  color: rgb(255, 255, 255);
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

.btnHeader1 {
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  width: 100px;
  font-weight: bold;
  cursor: pointer;
  background-color: #d11017;
  color: rgb(255, 255, 255);
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  border: solid 3px black;

}

.btnHeader2 {
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  width: 100px;
  font-weight: bold;
  cursor: pointer;
  background-color: #d11017;
  color: rgb(255, 255, 255);
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  border: solid 3px black;
  margin-bottom: 10px;
}

.btnHeaderAdmin {
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  width: 170px;
  font-weight: bold;
  cursor: pointer;
  background-color: #ffc107;
  color: black;
  font-family: "Rob'oto Slab", serif;
  font-weight: 700;
}

