@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
   background-color: rgb(170, 162, 162); 
   background: rgba(0, 0, 0, 0);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0);
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );
border: none
   
  
}

h1 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-left: 20px;
  color: #ffc107;
  text-decoration: none;
  
}

.h1{
  text-decoration: none;
  font-size: 15px;
  color: #ffc107;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 600px;
  align-items: center;
  font-weight: bold;
  color: white;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  
}

.pNav {
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 20px;
}

.login-cadastro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-right: 40px;
  margin-top: 20px;
} 

.btnHeader {
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  width: 100px;
  font-weight: bold;
  cursor: pointer;
  background-color: #ffc107;
  color: black;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

