@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

.divRegister {
    width: 100vw;
    height: 100vh;
    background-image: url("/images/tela-fundo-cadastro.jpg");
    background-size: cover;
}

.register {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left: 200px;
    top: 140px;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    color: white;
}

.btnRegister {
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    width: 275px;
    background-color: white;
    margin-top: 10px;
    cursor: pointer;
}

.inputRegister {
    padding: 10px;
    width: 250px;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.inputRegister::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: white;
}

h2 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

label {
    text-align: center;
}