.sobre {
    border: 3px solid black;
    background-color: rgba(246, 242, 242, 0.923);
    width: 98vw;
    height: 70vh;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h2sobre {
    font-size: 100px;
}