/*@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");*/

.divRegister {
    width: 100vw;
    height: 90vh;
    background-size: cover;
}

.register {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
    max-width: 400px;
    width: 100%;
    align-items: center;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    align-items: center;
}

.inputRegister {
    padding: 10px;
    width: 80%;
    background: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(1, 1, 1)!important;
    border-radius: 5px;
}

.inputRegister::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: rgb(0, 0, 0);
}

.btnRegister {
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 345px;
}

h2 {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    text-align: center;
}

label {
    text-align: center;
    margin-top: 10px;
}

label a {
    color: blue;
    text-decoration: none;
}