.flexLinha {
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}

.stock {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    background-color: gray;
    /* height: 600px; */

    /* width: 90%; */
    
    background: rgba( 255, 255, 255, 0.2 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );


}

.paragrafos {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
}

.tituloStock {
    font-family: "Roboto Slab", serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    margin-top: 35px;
}

.pStock {
    font-size: 20px;
    margin: 10px;
    
}

.btnStock {
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    width: 400px;
    cursor: pointer;
    background-color: #ffc107;
    border: 1px solid black;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.confiraStock{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.stockCompleto {
    background-color: #ffc107;
    margin-top: 70px;
    margin-bottom: 100px;
    padding: 55px;
    /* width: 100%; */
    text-align: center;
    cursor: pointer;
}
