@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

.tabBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-left: 20px;
  color: #ffc107;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 600px;
  align-items: center;
  font-weight: bold;
  color: white;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

.pNav {
  cursor: pointer;
}

.login-cadastro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-right: 40px;
  margin-top: 20px;
}

.btnHeader {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100px;
  font-weight: bold;
  cursor: pointer;
  background-color: #ffc107;
  color: black;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

.estoque {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tituloEstoque {
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  margin-top: 35px;
}

.pEstoque {
  font-size: 20px;
  margin: 10px;
}

.btnEstoque {
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  width: 400px;
  cursor: pointer;
  background-color: #ffc107;
  border: 1px solid black;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.estoqueCompleto {
  background-color: #ffc107;
  margin-top: 70px;
  margin-bottom: 100px;
  padding: 25px;
  width: 100vw;
  text-align: center;
}